// Copyright 2026, DisplayXR
// SPDX-License-Identifier: BSL-1.0
//
// DisplayXR Service - Windows resources

#include <windows.h>

// Application icons (used for system tray)
// 101 = black on transparent (for light taskbar)
// 102 = white on transparent (for dark taskbar)
101 ICON "../../../../doc/displayxr.ico"
102 ICON "../../../../doc/displayxr_white.ico"
